<div class="result-container text-center mt-5">
  <h1 class="result-title">結果発表</h1>
  <p class="result-score">あなたのスコア: <%= @score %> 点</p>

  <% if @score >= 5 %>
    <p class="result-message text-success">すごい！ぽんちゃんもびっくり！😻</p>
    <%= image_tag "happy_cat.png", class: "result-image" %>
  <% else %>
    <p class="result-message text-warning">もう少し頑張るニャン…。😿</p>
    <%= image_tag "sad_cat.png", class: "result-image" %>
  <% end %>

  <div class="mt-4">
    <%= link_to "Xで投稿",
      "https://twitter.com/intent/tweet?text=#{ERB::Util.url_encode("クイズ結果は#{@score}点でした！ #猫クイズ")}",
      target: "_blank",
      rel: "noopener",
      class: "custom-share-button" %>
  </div>

  <%= link_to "トップへ戻る", root_path, class: "custom-back-button mt-4" %>
</div>
