<!DOCTYPE html>
<html>
  <head>
    <title>ぽんちゃん検定</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <h1>ぽんちゃん検定</h1>
    </header>

    <main>
      <%= yield %> <!-- ここに各ビューの中身が入る -->
    </main>
  </body>
</html>
